{% extends 'tasks/base.html' %}
{% block content%}

{% load crispy_forms_tags %}

<br>
<div class="container p-3" style="background-color: lavender;" >
    <form method="POST" action="/">{% csrf_token %}
        
        {{ form.title }}
        &nbsp;&nbsp;<button class="btn btn-success btn-sm" type="submit" name="create task">Save</button>
    </form>
</div>

<br>
<div class="container">
    <table class="table">    
        <thead>
            <tr>
                <th>Options</th>
                <th>Task</th>
                <th>Created Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td><a href="{% url 'update_task' pk=task.pk %}"><button class="btn btn-success">Update</button></a>
                    <a href="{% url 'delete_task' pk=task.pk %}"><button class="btn btn-warning" onclick="return confirm('Are you sure you want to delete this ?')">delete</button></a></td>
                <td>{{task}}</td>
                <td>{{task.created_date}}</td>
                {% if task.status == False %}
                    <td>Not Finished</td>
                {% else %}
                    <td>Finished</td>
                {% endif%}
            </tr>
    
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}