{% extends 'tasks/base.html' %}
{% block content%}
<div class="container bg-lavender text-white">
    <form method="POST" action="/">{% csrf_token %}
        {{form.title}}
        <button type="submit" name="create task">Save</button>
    </form>
</div>
<br>
<div >
   
        {% for task in tasks %}
        <div class="container bg-dark text-white pb-3">
            <p>{{task}}</p>
            <p>{{task.created_date}}</p>
            {% if task.status == False %}
                <p>Not Finished</p>
            {% else %}
                <p>Finished</p>
            {% endif%}
            <a href="{% url 'update_task' pk=task.pk %}"><button>Update</button></a>
            <a href="{% url 'delete_task' pk=task.pk %}"><button onclick="return confirm('Are you sure you want to delete this ?')">delete</button></a>
        </div>
        <br>
        {% endfor %}
    
    <br>
</div>
{% endblock %}